.chanllengeBoxContainer {
    height: 100%;

    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.25);
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.chanllengeBoxNotActive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chanllengeBoxNotActive strong {
    font-size: 1.5rem;
    font-weight: 1.4;
}

.chanllengeBoxNotActive p {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
}

.chanllengeBoxNotActive p img {
    margin-bottom: 1rem;
}

.chanllengeBoxActive {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.chanllengeBoxActive header {
    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid var(--gray-line);
}

.chanllengeBoxActive main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.chanllengeBoxActive  main strong {
    font-size: 2rem;
    font-weight: 600;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}

.chanllengeBoxActive main p {
    line-height: 1.5;
}

.chanllengeBoxActive footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.chanllengeBoxActive footer button {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;

    color: var(--white);

    font-size: 1rem;
    font-weight: 600;
    transition: filter 0.2s;
}

.chanllengeBoxActive footer button.chanllengeBoxFailedButton {
    background: var(--red);
}

.chanllengeBoxActive footer button.chanllengeBoxSuccededButton {
    background: var(--green);
}

.chanllengeBoxActive footer button:hover {
    filter: brightness(0.9);
}